<h1>MY DETAILS</h1>

  Employee Id : {{employees.empId}}<br>
  Employee Full Name : {{employees.empFullName}}<br>
  Employee e-mail : {{employees.email}}<br>
  Employee Mobile Number : {{employees.empMobile}}<br>
  Employee Date Of joining : {{employees.empDateOfJoining}}<br>
  Employee Designation : {{employees.empDesignation}}<br>
  Employee Department : {{employees.empDepartment}}<br>
  Employee LeaveBalance : {{employees.empLeaveBalance}}<br>
  Employee Manager ID  : {{employees.empManagerID}}
